<h1>Reservation for: <%= @reservation.unit.name %> </h1>

<h1> Occupants: <%= @reservation.user.name %> </h1>

 <h3>Check in date: <%= @reservation.start_date %> </h3>
<h3> Check out date: <%= @reservation.end_date %> </h3>
